* {
    margin: 0;
}
body {
   background: #404040;
   overflow: hidden;
}
#scala-js-root-div { }

#top-ribbon {
  color: yellowgreen;
  font-size: 14px;
  line-height: 1.4;
  padding: 4px;
}
#top-ribbon a { color: yellowgreen; }
#countSpan {}
#searchBox {
  background: #404040;
  font-size: large;
  color: yellow;
  border: none;
  width: 600px;
}
.mtxt { color: yellow; }
.elemBox:focus .mtxt { color: aquamarine; }

.groupedModeHeader {
  color: lightgrey;
}
.elemBox {
  font: status-bar;
  font-size: 14px;
  line-height: 1.2;
}
.elemBox:focus {
   background: slateblue;
   border: none;
   outline: none;
}

.titleSpan {
  display: inline-block;
  width: 850px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gold;
}
.elemBox:focus .titleSpan { color: floralwhite}
/*.elemBox:hover .titleSpan { color: floralwhite}*/
/*.elemBox:active .titleSpan { color: aquamarine}*/

.exeSpan {
  display: inline-block;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 13px;
  color: burlywood;
}
.elemBox:focus .exeSpan { color: floralwhite; }
.exeSpan.dim { color: grey; }

.exeIcoSpan {
  display: inline-flex;
  width: 22px;
  overflow: hidden;
  color: darkcyan;
}
.ico { height: 16px; }
/*
- light good colors : honeydew, lightyellow, lightgrey, lightcyan, azure, bisque, beige, ghostwhite, ivory, lavender, mintcream, oldlace, aliceblue
- slightly dark contrast colors considered for exespan (cf w gold for elemBox).. burlwood, tan, goldenron, darkkhaki, darkgrey, silver
*/
