

* {
   margin: 0;
   user-select: none;
}

*:focus {
   outline: none;
}

:root {
  --background-color: #202020;
  --ribbon-color: #bd9d2c;
  --ribbon-color-dim: #bd9d2ce0;
  --curElem-color: #dbe4d7;
  --primary-color: #e0d180;
  --secondary-color: #a8c77d;
  --searched-color: #7aff00;
  --exe-color: #bbc18f;
  --yspan-color: #5c9d4d;
  --dim-color: #808080;
  --menu-hover-color: #404040;
  --box-shadow-color: #61450fe3;
  --tooltip-color: #d0c0a0;
  --tooltip-bg-color: #404040;
  --alt-tab-color: var(--ribbon-color);
  --rbtn-whl-color: var(--ribbon-color);
  --elev-color: #00b000;
  --armed-color: #ff8080;
  --warn-color: #d050f0;
  --help-color: #60d060;
  --help-text-color: #d0c0a0;
}

body {
   background: var(--background-color);
   padding: 1px 1px 1px 1px;
}

#scala-js-root-div {
   overflow: hidden;
   padding: 4px 12px 4px 12px;
   border: 1px solid var(--ribbon-color);
   border-radius: 8px;
   height: calc(100vh - 12px);
   width: calc(100vw - 28px);
}


#top-ribbon {
  color: var(--ribbon-color);
  font-family: system-ui;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  width: -webkit-fill-available;
  padding: 2px 8px 2px 4px;
}
#top-ribbon a { color: var(--ribbon-color); }



.menubox {
  display: inline-block;
  position: relative;
  width: 36px;
}
.menulink { }
.menulink:before {
   content: "☰";
   font-size: 24px;
   color: var(--ribbon-color);
}
.dropdown {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  width: 150px;
  box-shadow: 2px 2px 8px 2px var(--box-shadow-color);
  z-index: 1;
  margin-left: -1em;
  margin-top: 4px;
  padding-bottom: 10px;
}
.dropdown.show { display: block; }
.menuItem {
  color: var(--ribbon-color);
  padding: 5px 10px 5px 15px;
  font-size: small;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}
.menuItem:hover { background-color: var(--menu-hover-color); }
.menuHotkey {
   float: right;
   font-size: smaller;
   margin-left: auto;
   color: var(--ribbon-color-dim);
}




.indicator {
  display: inline-block;
  position: relative;
  width: 32px;
  text-align: center;
}
.indicator.left { }
.indicator.right { text-align: right; }

.tooltip {
   display: none;
   position: absolute;
   font: status-bar;
   color: var(--tooltip-color);
   background-color: var(--tooltip-bg-color);
   box-shadow: 2px 2px 4px 1px var(--box-shadow-color);
   z-index: 1;
   padding: 10px 12px 10px 12px;
   min-width: max-content;
}
.tooltip.left  { left:  30px; }
.tooltip.right { right: 10px; }
.tooltip.show { display: block; }
.tooltip span { }
.tooltip div { text-align: left; }


.indicator .content {
    border: 1px solid;
    width: 14px;
    height: 12px;
    padding-bottom: 2px;
    display: inline-flex;
    align-items: center;
    place-content: center;
    font-weight: bold;
}

.altTabIndicator { color: var(--dim-color); }
.altTabIndicator.on { color: var(--alt-tab-color); }
.altTabIndicator:before {
   content: "A"; font-size: 12px;
}

.rbtnWheelIndicator { color: var(--dim-color); }
.rbtnWheelIndicator.on { color: var(--rbtn-whl-color); }
.rbtnWheelIndicator:before {
   content: "M"; font-size: 12px;
}

.autoOrderIndicator { color: var(--dim-color); }
.autoOrderIndicator.on { color: var(--ribbon-color); }
.autoOrderIndicator:before {
   content: "⇅"; font-size: 14px;
}
.elevIndicator { color: var(--dim-color); }
.elevIndicator.on { color: var(--elev-color); }
.elevIndicator:before {
   content: "⚿"; font-size: 14px; font-weight: normal;
}


.armedIndicator { color: var(--dim-color); }
.armedIndicator.on { color: var(--armed-color); }
.armedIndicator:before {
   content: "R"; font-size: 12px;
}

.dragIndicator {
   color: var(--ribbon-color);
   -webkit-app-region: drag; /*cursor: move;*/
   /* webkit drag doesnt work in windows webview */
}
.dragIndicator:before {
   content: "※"; font-size: 14px;
}


.countSpan {
   display: inline-block;
   width: 40px;
   text-align: center;
}
.countsIndicator { color: var(--ribbon-color); }
.content.countsIndicator {
    border: none;
    padding: 0px 0px 4px 4px;
}


.warnIndicator { color: var(--dim-color); }
.warnIndicator.on { color: var(--warn-color); }
.warnIndicator:before {
   content: "!"; font-size: 12px;
}

.helpIndicator { color: var(--help-color); }
.helpIndicator.on { color: var(--help-color); }
.helpIndicator:before {
   content: "?"; font-size: 12px;
}
.helpText {
   font: status-bar;
   color: var(--help-text-color);
   text-align: left;
}



#searchBox {
  background: var(--background-color);
  color: var(--searched-color);
  font-size: large;
  border: none;
  min-width: 200px;
  padding-left: 20px;
  flex-grow: 1;
}

.searchTxt { color: var(--searched-color); }
/*.elemBox.curElem .searchTxt { color: #9fef02; }*/



.modeHeader    { font-variant: small-caps; }
.modeHeader.r  { color: var(--primary-color); }
.modeHeader.g  { color: var(--primary-color); }
.modeHeader.gr { color: var(--secondary-color); }



#elemsDivs { height: -webkit-fill-available; overflow-y: auto; }
#elemsDivs::-webkit-scrollbar { width: 4px; background: #540; }
#elemsDivs::-webkit-scrollbar-thumb { background: #970; }

.elemsDiv      { padding: 8px 0px 4px 0px; }
.elemsDiv.r    { }
.elemsDiv.g    { }
.elemsDiv.gr   { }
.elemsDiv.gr.s { filter: grayscale(20%) brightness(80%); }

.elemBox {
  display: flex;
  line-height: 1.33;
  overflow: hidden;
  cursor: context-menu;
  font: status-bar;
  font-size: 14px;
}
.elemBox.curElem {
   background: #54489e;
   outline: none;
}

.titleSpan {
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: auto;
  font-kerning: none;
}
.titleSpan.r  { color: var(--primary-color); }
.titleSpan.g  { color: var(--primary-color); }
.titleSpan.gr { color: var(--secondary-color); }
.elemBox.curElem .titleSpan { color: var(--curElem-color); }

.ySpan {
   width: 12px;
   color: var(--yspan-color);
   font-size: 11px;
   font-weight: 700;
   text-align: right;
   flex: none;
}
.elemBox.curElem .ySpan { color: var(--curElem-color); }

.exeSpan {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 13px;
  flex: none;
}
.exeSpan.ng { color: var(--exe-color); }
.exeSpan.gh { color: var(--exe-color); }
.exeSpan.gt { color: var(--dim-color); }
.elemBox.curElem .exeSpan { color: var(--curElem-color); }

.exeIcoSpan {
  display: inline-flex;
  width: 22px;
  overflow: hidden;
  flex: none;
}
.ico {
   height: 16px;
   filter: brightness(90%) saturate(100%);
}
