# ensime
.ensime_cache/

# nodejs modules
node_modules/

# sbt project files
project/project/
project/target/

# build server
.bsp/

# target folder
target/

# coursier cache issues
null/

# log files
*.log
