

/* theme-set tweaked for color-inverting chrome (auto-dark-mode: enabled) */

body {
   background-color: #111111;
}

#pageDiv {
   display: block;
   white-space: pre-wrap;
   font-family: monospace;
   /* border: 1px solid #e44; */

   /* the following, esp margin:auto to center it in screen while limiting width */
   width: 550px;
   margin: auto;
   margin-top: 20px;
}
.header {
   display: flex;
   justify-content: flex-end;
   line-height: 3em;
}
.dimBtn { color: grey; }

.logs {
   height: 800px;
   overflow-y: auto;
   overflow-x: hidden;
}
.logs::-webkit-scrollbar { width: 2px; background: #000; }
.logs::-webkit-scrollbar-thumb { background: #970; }

hr { border-color: #606060;}

.ev { }
.ev.kdn {background-color: #a3c8616b;}

.key { }

.nmk.dn {color: #5ebd89fa;font-weight: bold;}
.nmk.up {color: #c47e63;font-weight: bold;}

.nmk.fwd  {color: #84c8e6;}
.nmk.bkwd {color: #565372;}

.mk.dn {color: #77a3b4;}
.mk.up {color: #bab814c7;}


.mod { }
.mod.bkg { color: grey }
.mod.act { color: #dcb146d6; }
.mod.act.kdn { color: #d1e165a6; }

.stamp  { font-size: x-small; color: grey; }
.gapDur {font-size: x-small;color: #8ead59;}


